version: '3.9'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: setlive
      POSTGRES_USER: setlive
      POSTGRES_PASSWORD: setlive
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
